"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "no"
  editor:
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabType: "soft"
  "exception-reporting":
    userId: "59c0123f-470e-4619-bcbe-2757dad5be3f"
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
